<app-header></app-header>
<ion-content class="hide-scroll-bar">
  <ion-title class="page-name grey-color">
    Profile
  </ion-title>

  <div id="profile-info">
    <img src="{{defaultProfilePic}}" style="width: 75px;border-radius: 100%;">
    <ion-title id="username-tag" class="grey-color">
      @{{username}}
    </ion-title>
    <div id="profile-info-buttons">
      <div>
        <ion-button color="tertiary" class="follow-button">
          10 followers
          <!--  {{serviceSession.getCurrentUser().followers}} -->
        </ion-button>
        <ion-button color="tertiary" class="follow-button">
          1 following
          <!-- Following: {{serviceSession.getCurrentUser().following}} -->
        </ion-button>
      </div>

      <ion-button color="tertiary" class="button-icon" icon-only slot="end" id="settings-button" [routerLink] = "['/settings']">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <hr class="horizontal-rule" />
  <div>
    <ion-title class="sub-heading grey-color">
      My Listings
    </ion-title>
    <hr class="horizontal-rule" />
    <ion-searchbar class="grey-color" placeholder="Search Tompang" [(ngModel)]="searchTerm" showCancelButton="focus" animated></ion-searchbar>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let listing of myListings | filter:searchTerm">
          <app-listing-card [listing]="listing"></app-listing-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div style="height: 500px;">

    </div>
    <ion-list>
      <ion-item>
        <ion-img>listing picture</ion-img>
      </ion-item>

      <ion-item>
        <ion-label><b>Title</b></ion-label>
      </ion-item>

      <ion-item>
        <ion-label><b>Country</b></ion-label>
        <!-- {{listing.country}} -->
      </ion-item>

      <ion-item>
        <ion-label><b>City</b></ion-label>
        <!-- {{listing.city}} -->
      </ion-item>

      <ion-item>
        <ion-label><b>Description </b></ion-label>
        <!-- {{listing.description}} -->
      </ion-item>

      <ion-item>
        <ion-label><b>Category </b></ion-label>
        <!-- {{listing.category}} -->
      </ion-item>

      <ion-item>
        <ion-label><b>Price</b></ion-label>
        <!-- {{listing.price}} -->
      </ion-item>

      <ion-item>
        <ion-label><b>Quantity</b></ion-label>
        <!-- {{listing.quantity}} -->
      </ion-item>

      <ion-item>
        <ion-label><b>Likes</b></ion-label>
        <!-- {{listing.likes}} -->
      </ion-item>
    </ion-list>
  </div>

</ion-content>
<app-footer></app-footer>
