<app-header></app-header>
<ion-content class="hide-scroll-bar">
  <ion-title class="page-name grey-color"> Profile </ion-title>

  <div id="profile-info" *ngIf="hasLoaded === true">
    <img src={{displayProfilePic()}} style="width: 75px; border-radius: 100%" />
    <ion-title id="username-tag" class="grey-color">
      @{{userToViewUsername}}
    </ion-title>
    <div id="profile-info-buttons">
      <div>
        <ion-button color="tertiary" class="follow-button">
          {{userToViewFollowers}} followers
        </ion-button>
        <ion-button color="tertiary" class="follow-button">
          {{userToViewFollowing}} following
        </ion-button>
      </div>

      <div>
        <ion-button
          *ngIf="isProfileTheCurrentUser()"
          color="tertiary"
          class="button-icon"
          icon-only
          slot="end"
          id="qr-code-button"
          [routerLink]="['/orders']"
        >
          <ion-icon name="qr-code-outline"></ion-icon>
        </ion-button>
        <ion-button
          *ngIf="hasLoaded === true && isProfileTheCurrentUser()"
          color="tertiary"
          class="button-icon"
          icon-only
          slot="end"
          id="settings-button"
          [routerLink]="['/settings']"
        >
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
      </div>
      <ion-button
        *ngIf="displayFollowButton()"
        color="tertiary"
        class="grey-color"
        style="text-transform: capitalize"
        icon-only
        slot="end"
        id="settings-button"
        (click)="followUser()"
      >
        Follow
      </ion-button>
      <ion-button
        *ngIf="displayUnfollowButton()"
        color="tertiary"
        class="grey-color"
        style="text-transform: capitalize"
        icon-only
        slot="end"
        id="settings-button"
        (click)="unfollowUser()"
      >
        Unfollow
      </ion-button>
    </div>
  </div>
  <hr class="horizontal-rule" />
  <div *ngIf="hasLoaded ===  true">
    <ion-title class="sub-heading grey-color" *ngIf="isProfileTheCurrentUser()">
      My Listings
    </ion-title>
    <ion-title
      class="sub-heading grey-color"
      *ngIf="!isProfileTheCurrentUser()"
    >
      Listings
    </ion-title>
    <hr class="horizontal-rule" />
    <ion-searchbar
      class="grey-color"
      placeholder="Search Tompang"
      [(ngModel)]="searchTerm"
      showCancelButton="focus"
      animated
    ></ion-searchbar>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let listing of listings | filter:searchTerm">
          <app-listing-card [listing]="listing"></app-listing-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<app-footer></app-footer>
