<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-button class="button-icon" icon-only slot="end" id="liked-listings-button" [routerLink] = "['/liked-listings']">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-button>
    <ion-button class="button-icon" icon-only slot="end" id="inbox-button" [routerLink] = "['/inbox']">
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
