<app-header></app-header>
<ion-content class="hide-scroll-bar">
  <div *ngIf="hasLoaded">
    <div class='card grey-color'>
      <div class="ccBrand">
        <ion-label>{{ccToView.ccBrand}}</ion-label>
      </div>
      <div class="ccName">
        <ion-label>{{ccToView.ccName}}</ion-label>
      </div>
      <div class='ccNumber'>
        {{formatCreditCardNumber()}}
      </div>
      <div class="ccExpiryDate">
        <ion-label>VALID THRU</ion-label>
        <ion-label>{{formatCreditCardExpiryDate()}}</ion-label>
      </div>
      <div class="ccCIV">
        <ion-label>CVC</ion-label>
        <ion-label>{{ccToView.ccCIV}}</ion-label>
      </div>
    </div>
    <form (ngSubmit)="deleteCreditCard()">
      <div class="form-input input-button-div" *ngIf="hasLoaded">
        <ion-button *ngIf="displayConfirmDeleteButton === false && successfulDeletion === false" style="text-transform: initial;font-size: 16px;" color="tertiary" (click)="toggleConfirmDeleteButton()">Delete</ion-button>
        <ion-button *ngIf="displayConfirmDeleteButton === true && successfulDeletion === false" style="text-transform: initial;font-size: 16px;" color="tertiary" type="submit">Confirm Delete</ion-button>
      </div>
    </form>
    <div *ngIf="successfulDeletion" style="display: flex;justify-content: center;margin-bottom: 20px;">
      <ion-label class="grey-color" style="text-align:center;">
        Successfully deleted this Credit Card. Tap back.
      </ion-label>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
