# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

/Tompang/dist/
/Tompang/build/
/Tompang/nbproject/private/


# EJB Folder
/Tompang/Tompang-ejb/nbproject/private/
/Tompang/Tompang-ejb/build/
/Tompang/Tompang-ejb/dist/

/Tompang/Tompang-war/web/WEB-INF/glassfish-web.xml
/Tompang/Tompang-war/web/WEB-INF/web.xml
/Tompang/Tompang-war/nbproject/private/
/Tompang/Tompang-war/build/
/Tompang/Tompang-war/dist/

/TompangRws/dist/
