<ion-content class="hide-scroll-bar">
  <div>
    <ion-title class="page-name grey-color">
      Inbox
    </ion-title>
    <hr class="horizontal-rule" />
    <ion-title class="sub-page-name grey-color">
      Buying
    </ion-title>
  </div>
  <hr class="horizontal-rule" />
  <div>
    <ion-list *ngFor="let convo of buyingConvos">
        <ion-item class="grey-color">
          <div style="display: flex;align-items: center;justify-content: space-between;width: 100%;">
            <div style="display: flex;align-items: center;">
              <img src="{{getUserProfilePic(convo)}}" style="width: 45px;border-radius: 100%;margin-right: 16px;">
              <ion-item-group style="display:flex;flex-direction:column;justify-content:center;height: 65px;">
                <ion-text style="font-size: 12px;">
                  @{{convo.createdBy.username}}
                </ion-text>
                <ion-label style="font-size: 16px; margin-bottom: 5px;">{{convo.listing.title}}</ion-label>
                <ion-text style="font-size: 12px;">
                  {{getLatestMessageDateOfConvo(convo)}}
                </ion-text>
              </ion-item-group>
            </div>
            <ion-button color="tertiary" class="button-icon" icon-only (click)="viewConversation(convo)">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
    </ion-list>
  </div>
</ion-content>
