<app-header></app-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="my-purchases">
        <ion-icon class="button-icon" name="bag-handle-outline"></ion-icon>
        <ion-label>My Transactions</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="disputes">
        <ion-icon class="button-icon" name="hand-right-outline"></ion-icon>
        <ion-label>Disputes</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
<app-footer></app-footer>
