<app-header></app-header>
<ion-content class="hide-scroll-bar">
  <div>
    <ion-title class="page-name grey-color">
      Liked Listings
    </ion-title>
  </div>
  <div>
    <div class="search">
      <ion-item>
        <ion-input placeholder="Search Tompang"></ion-input>
        <ion-icon name="search-outline" slot="start"></ion-icon>
      </ion-item>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let listing of myLikedListings">
          <app-listing-card [listing]="listing"></app-listing-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<app-footer></app-footer>
