<app-header></app-header>
<ion-content class="hide-scroll-bar">
  <div>
    <ion-title class="page-name grey-color">
      Liked Listings
    </ion-title>
  </div>
  <div>
    <ion-searchbar class="grey-color" placeholder="Search Tompang" [(ngModel)]="searchTerm" showCancelButton="focus" animated></ion-searchbar>
    <ion-item *ngIf="myLikedListings.length === 0">
      You have no Liked Listings!
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let listing of myLikedListings | filter:searchTerm">
          <app-listing-card [listing]="listing"></app-listing-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<app-footer></app-footer>
