<ion-header>
  <ion-toolbar>
    <ion-title class="page-name grey-color">Transaction Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h2>Click to scan QR Code from seller.</h2>

    <ion-button color="primary" (click)="scanQRCode()" expand="block"
      >Scan QR Code</ion-button
    >
  </ion-card>

  <ion-card>
    <div *ngIf="scannedQRCode">
      <ion-item>
        Scanned product details: <strong>{{scannedQRCode["text"]}} </strong>
      </ion-item>
      <ion-item>
        Scanned product details: <strong>{{scannedQRCode["format"]}} </strong>
      </ion-item>
    </div>
  </ion-card>

  <ion-card>
    <h2>Click to show QR Code for buyer to scan.</h2>
    <h2>Only do this upon confirmed payment.</h2>
    <ion-input [(ngModel)]="encodedData"> </ion-input>
    <ion-button color="danger" (click)="generateQRCode()" expand="block">
      Show QR Code
    </ion-button>
  </ion-card>
</ion-content>
