.long-button {
  width: 100vw;
  margin: 0;
  border-radius: 0px;
}

.button-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-text {
  font-size: 18px;
}

.button-icon {
  font-size: 26px;
  margin-right: 10px;
}

