<app-header></app-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="notifications">
        <ion-icon class="button-icon" name="alert-circle-outline"></ion-icon>
        <ion-label>Notifications</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="buying">
        <ion-icon class="button-icon" name="chatbubble-ellipses-outline"></ion-icon>
        <ion-label>Buying</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="selling">
        <ion-icon class="button-icon" name="chatbubbles-outline"></ion-icon>
        <ion-label>Selling</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
<!-- use ion-list to create the list of conversations -->
<!-- <ion-list>
  <ion-item>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Mega Man X</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>The Legend of Zelda</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Pac-Man</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Super Mario World</ion-label>
  </ion-item>
</ion-list> -->
</ion-content>
<app-footer></app-footer>
