<app-header></app-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="notifications">
        <ion-icon class="button-icon" name="alert-circle-outline"></ion-icon>
        <ion-label>Offers</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="buying">
        <ion-icon class="button-icon" name="chatbubble-ellipses-outline"></ion-icon>
        <ion-label>Buying</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="selling">
        <ion-icon class="button-icon" name="chatbubbles-outline"></ion-icon>
        <ion-label>Selling</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
<app-footer></app-footer>
