<app-header></app-header>
<ion-content>
  <ion-title style="font-size: 30px;margin-top: 10px;margin-bottom: 10px;">
    Inbox
  </ion-title>
  <ion-button class="long-button" style="text-transform:none" color="tertiary" [routerLink]="['/inbox/notifications']">
    <div class="button-div">
      <div style="display: flex; justify-content: space-between;align-items: center;">
        <ion-icon class="button-icon" slot="start" [ios]="'alert-circle-outline'" [md]="'alert-circle-outline'"></ion-icon>
        <ion-text class="button-text">Notifications</ion-text>
      </div>
      <ion-icon name="chevron-forward-sharp"></ion-icon>
    </div>
  </ion-button>
  <ion-button class="long-button" style="text-transform:none" color="tertiary" [routerLink]="['/inbox/buying']">
    <div class="button-div">
      <div style="display: flex; justify-content: space-between;align-items: center;">
        <ion-icon class="button-icon" slot="start" [ios]="'chatbubble-ellipses-outline'" [md]="'chatbubble-ellipses-outline'"></ion-icon>
        <ion-text class="button-text">Buying Chats</ion-text>
      </div>
      <ion-icon name="chevron-forward-sharp"></ion-icon>
    </div>
  </ion-button>
  <ion-button class="long-button" style="text-transform:none" color="tertiary" [routerLink]="['/inbox/selling']">
    <div class="button-div">
      <div style="display: flex; justify-content: space-between;align-items: center;">
        <ion-icon class="button-icon" slot="start" [ios]="'chatbubbles-outline'" [md]="'chatbubbles-outline'"></ion-icon>
        <ion-text class="button-text">Selling Chats</ion-text>
      </div>
      <ion-icon name="chevron-forward-sharp"></ion-icon>
    </div>
  </ion-button>

</ion-content>
<app-footer></app-footer>
