ion-footer {
  --ion-background-color: var(--ion-color-primary);

}

#create-listing-button {
  height: 70px;
  width: 70px;
  background-color: var(--ion-color-primary);
  border-radius: 100%;
}

button {
  background-color: var(--ion-color-primary);
}
