<!-- <ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="create-listing-button" shape="round" >
        <ion-icon style="font-size: 30px;"  color="tertiary" slot="icon-only" [ios]="'add-outline'" [md]="'add-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-footer> -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar color="primary">
        <ion-tab-button (click)="back()">
          <ion-icon style="font-size: 35px;" [ios]="'chevron-back-outline'" [md]="'chevron-back-sharp'"></ion-icon>
        </ion-tab-button>

        <ion-tab-button (click)="createListingPage()">
          <ion-icon style="font-size: 45px;" [ios]="'add-circle-outline'" [md]="'add-circle-sharp'"></ion-icon>
        </ion-tab-button>

        <ion-tab-button (click)="profilePage()">
          <ion-icon [ios]="'person-outline'" [md]="'person-sharp'"></ion-icon>
          <ion-label>Me</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
