<ion-content>
  <div>
    <ion-title class="page-name grey-color">
      Settings
    </ion-title>
    <hr class="horizontal-rule" />
    <ion-title class="sub-page-name grey-color">
      Change Profile Picture
    </ion-title>
  </div>
  <hr class="horizontal-rule" />
  <div id="formBox" class="formBox" *ngIf="sessionService.getIsLogin() !== false">
    <div id="changeProfilePicForm">
      <form (ngSubmit)="updateUserProfilePic()">

        <div class="input-button-div">
          <ion-button color="primary"  type="reset">Clear</ion-button>
          <ion-button color="primary" type="submit">Change</ion-button>
        </div>
      </form>
      <div *ngIf="editError === true" style="text-align: center; color: red;width: 300px;">
        Invalid change: Bad profile picture url!
      </div>
    </div>
  </div>
</ion-content>
