<app-header></app-header>
<ion-content class="hide-scroll-bar">
  <div>
    <ion-title class="page-name grey-color">
      Settings
    </ion-title>
    <hr class="horizontal-rule" />
    <ion-title class="sub-page-name grey-color">
      Change Profile Picture
    </ion-title>
  </div>
  <hr class="horizontal-rule" />
  <div id="formBox" class="formBox" *ngIf="sessionService.getIsLogin() !== false">
    <div id="changeProfilePicForm">
      <ion-item lines="none">
        <img style="border-radius: 10%;width: 70%;margin: 10px auto;" src={{displayProfilePic()}} />

      </ion-item>
      <ion-card>
        <ion-item lines="none">
          <!-- <input style="margin: 10px auto;" type="file" accept="image/png, image/gif, image/jpeg" (change)="handleFileInput($event)"> -->
          <input style="margin: 10px auto;" #fileInput type="file" accept="image/png, image/gif, image/jpeg" (change)="changeProfilePic($event)">
        </ion-item>
        <div class="input-button-div" style="margin-bottom: 15px;">
          <ion-button color="tertiary" style="text-transform: capitalize;" (click)="updateProfilePic()">Change</ion-button>
          <!-- <ion-button (click)="getPicturesFromGallery()">Select Images</ion-button> -->
        </div>
      </ion-card>
      <div style="display: flex; align-items: center; justify-content: center;">
        <div style="border: 1px solid black;width: 100px;background-color: black;"></div>
        <span style="padding: 0 10px;">or</span>
        <div style="border: 1px solid black;width: 100px;background-color: black;"></div>
      </div>
      <div class="input-button-div">
        <!-- <ion-button color="tertiary" style="text-transform: capitalize;" (click)="takePicture()">Take Picture</ion-button> -->
        <!-- <ion-button (click)="getPicturesFromGallery()">Select Images</ion-button> -->
      </div>
      <div *ngIf="editError === true" style="text-align: center; color: red;width: 300px;">
        Invalid change: Bad profile picture url!
      </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
