<app-header></app-header>
<ion-content>
  <div>
    <ion-title class="page-name grey-color">
      Settings
    </ion-title>
    <hr class="horizontal-rule" />
    <ion-title class="sub-page-name grey-color">
      Change Password
    </ion-title>
  </div>
  <hr class="horizontal-rule" />
  <div style="margin-top: 15px;">
    <form (ngSubmit)="updateUserPassword()">
      <div class="form-input">
        <ion-item lines="none">
          <ion-input class="grey-color" placeholder="Current Password" type="password" [(ngModel)]="currentPassword" name="currentPassword" required minlength="8" maxlength="50"></ion-input>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-input class="grey-color" placeholder="New Password" type="password" [(ngModel)]="newPassword" name="newPassword" required minlength="8" maxlength="50"></ion-input>
          <ion-icon name="key-outline" slot="start"></ion-icon>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-input class="grey-color" placeholder="New Password, again" type="password" [(ngModel)]="repeatPassword" name="repeatPassword" required minlength="8" maxlength="50"></ion-input>
          <ion-icon name="key-outline" slot="start"></ion-icon>
        </ion-item>
      </div>
      <!-- <div style="text-align: center;">
        <ion-button class="button-icon" style="text-transform: initial;font-size: 14px;" color="tertiary">Forgot Password?</ion-button>
      </div> -->
      <div class="form-input input-button-div">
        <ion-button style="text-transform: initial;font-size: 16px;" color="tertiary"  type="reset">Clear</ion-button>
        <ion-button style="text-transform: initial;font-size: 16px;" color="tertiary" type="submit">Save</ion-button>
      </div>

    </form>
    <div *ngIf="resultError=== true" style="text-align: center; color: red;margin-bottom: 100px;">
      {{message}}
    </div>
    <div *ngIf="resultSuccess=== true" style="text-align: center; color: var(--ion-primary-color);margin-bottom: 100px;">
      {{message}}
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
