<ion-content>
  <ion-title style="font-size: 30px;margin-top: 10px;margin-bottom: 10px;">
    Settings
  </ion-title>
  <ion-title style="font-size: 24px;margin-top: 20px;margin-bottom: 10px;">
    Change Password
  </ion-title>
  <div id="formBox" class="formBox" *ngIf="sessionService.getIsLogin() !== false">
    <div id="changePasswordForm">
      <form (ngSubmit)="updateUserPassword()">
        <ion-item>
          <ion-label>Current Password: </ion-label>
          <ion-input type="password" [(ngModel)]="currentPassword" name="currentPassword" required minlength="8" maxlength="50"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>New Password: </ion-label>
          <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required minlength="8"  maxlength="50"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Repeat Password: </ion-label>
          <ion-input type="password" [(ngModel)]="repeatPassword" name="repeatPassword" required minlength="8"  maxlength="50"></ion-input>
        </ion-item>
        <div class="input-button-div">
          <ion-button color="primary" (click)="back()">Back</ion-button>
          <ion-button color="primary"  type="reset">Clear</ion-button>
          <ion-button color="primary" type="submit">Change</ion-button>
        </div>
      </form>
      <div *ngIf="editError === true" style="text-align: center; color: red;width: 300px;">
        Invalid change: Inputted fields are incorrectly formatted!
      </div>
    </div>
  </div>
</ion-content>
