<ion-content class="hide-scroll-bar">
  <div>
    <ion-title class="page-name grey-color"> History </ion-title>
    <hr class="horizontal-rule" />
    <ion-title class="sub-page-name grey-color">
      My Transactions
      <span
        *ngIf="transactions.length !== 0"
        style="float: right; font-size: 12px; margin-top: 8px"
        >Earned: {{totalAmountEarned}} Spent: {{totalAmountSpent}}</span
      >
    </ion-title>
  </div>
  <hr class="horizontal-rule" />
  <div>
    <div>
      <ion-item *ngIf="transactions.length === 0">
        You have no Transactions!
      </ion-item>
      <ion-list *ngFor="let transaction of transactions">
        <ion-item class="grey-color">
          <div
            class="transaction-block"
            (click)="doViewTransactionDetails(transaction.transactionId)"
          >
            <div style="display: flex; align-items: center">
              <ion-icon
                name="document-text-outline"
                style="font-size: 35px; margin-right: 20px; margin-bottom: 25px"
              ></ion-icon>
              <ion-item-group
                style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                "
              >
                <ion-label style="font-size: 16px; margin-bottom: 5px"
                  >{{checkTransaction(transaction)}}
                  {{formatListingTitle(transaction)}}</ion-label
                >
                <ion-text style="font-size: 14px; margin-bottom: 5px"
                  >S${{transaction.listing.price}}</ion-text
                >
                <ion-text style="font-size: 12px; margin-bottom: 15px">
                  ETA: {{formatListingETA(transaction)}}
                  <div
                    style="
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      height: 45px;
                      margin-left: 150px;
                      position: absolute;
                      top: 22px;
                    "
                  >


                  <ion-chip *ngIf="transaction.isAccepted === true && transaction.isCompleted === false" outline color="primary">
                    <ion-label>ONGOING</ion-label>
                  </ion-chip>

                  <ion-chip *ngIf="transaction.isAccepted === false && transaction.isRejected === false && transaction.isCompleted === false" outline color="warning">
                    <ion-label>OFFERED</ion-label>
                  </ion-chip>

                  <ion-chip *ngIf="transaction.isRejected === true && transaction.isCompleted === false" outline color="danger">
                    <ion-label>REJECTED</ion-label>
                  </ion-chip>

                  <ion-chip *ngIf="transaction.isCompleted === true" outline color="success">
                    <ion-label>COMPLETED</ion-label>
                  </ion-chip>


                  </div>
                </ion-text>
              </ion-item-group>
            </div>
          </div>
          <div>
            <ion-button
              color="tertiary"
              class="button-icon"
              icon-only
              (click)="doViewTransactionDetails(transaction.transactionId)"
            >
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
