<ion-content class="hide-scroll-bar">
  <div>
    <ion-title class="page-name grey-color">
      History
    </ion-title>
    <hr class="horizontal-rule" />
    <ion-title class="sub-page-name grey-color">
      My Transactions
    </ion-title>
  </div>
  <hr class="horizontal-rule" />
  <div>
    <div>
      <ion-list *ngFor="let transaction of transactions">
          <ion-item class="grey-color">
            <div class="transaction-block">
              <div style="display: flex;align-items: center;">
                <ion-icon name="document-text-outline" style="font-size: 35px;margin-right: 20px;margin-bottom: 25px;"></ion-icon>
                <ion-item-group style="display:flex;flex-direction:column;justify-content:center;">
                  <ion-label style="font-size: 16px;margin-bottom: 5px;">{{checkTransaction(transaction)}} {{formatListingTitle(transaction)}}</ion-label>
                  <ion-text style="font-size: 14px;margin-bottom: 5px;">S${{transaction.listing.price}}</ion-text>
                  <ion-text style="font-size: 12px;margin-bottom: 15px;">
                    ETA: {{formatListingETA(transaction)}}
                    <div style="display: flex;flex-direction: column;justify-content: center;height:45px;margin-left: 150px;position:absolute;top: 22px;">
                      <span *ngIf="transaction.isAccepted === true && transaction.isCompleted === false"
                      style="color:var(--ion-color-primary);">ACCEPTED</span>
                      <span *ngIf="transaction.isRejected === true && transaction.isCompleted === false"
                      style="color:red;">REJECTED</span>
                      <span *ngIf="transaction.hasDispute === true"
                      style="color:red;">IN DISPUTE</span>
                      <span *ngIf="transaction.isCompleted === true"
                      style="color:var(--ion-color-primary);">COMPLETED</span>
                    </div>
                    </ion-text>
                </ion-item-group>
              </div>
              <div>
                <ion-button color="tertiary" class="button-icon" icon-only (click)="viewTransaction(transaction.transactionId)">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </div>

            </div>
          </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
