ion-footer {
  --ion-background-color: var(--ion-color-primary);

}

ion-title.page-name {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#create-listing-button {
  height: 70px;
  width: 70px;
  background-color: var(--ion-color-primary);
  border-radius: 100%;
}

button {
  background-color: var(--ion-color-primary);
}
