<app-header></app-header>
<ion-content class="hide-scroll-bar">
  <div>
    <ion-title class="page-name grey-color">
      Shop
    </ion-title>
  </div>
  <hr class="horizontal-rule" />
  <div>
    <ion-title class="sub-page-name grey-color">
      Most Liked Listings
    </ion-title>
    <hr class="horizontal-rule" />
    <div class="listing-slider ion-padding-start">
      <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
        <ion-slide *ngFor="let listing of mostLikedListings">
          <ion-col class="ion-text-left">
            <app-listing-card [listing]="listing"></app-listing-card>
          </ion-col>
        </ion-slide>
      </ion-slides>
    </div>
    <hr class="horizontal-rule" />
    <div>
      <ion-title class="sub-page-name grey-color">
        All Listings
      </ion-title>
      <hr class="horizontal-rule" />
      <div>
        <div class="search">
          <ion-item>
            <ion-input placeholder="Search Tompang"></ion-input>
            <ion-icon name="search-outline" slot="start"></ion-icon>
          </ion-item>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let listing of allAvailableListings">
              <app-listing-card [listing]="listing"></app-listing-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div style="display: flex; justify-content: space-around;">
      <button id="shop-button" routerLink="/shop">
        <ion-icon
          style="font-size: 35px"
          [ios]="'gift-outline'"
          [md]="'gift-sharp'"
        ></ion-icon>
      </button>

      <button routerLink="/create-listing">
        <ion-icon
          style="font-size: 45px"
          [ios]="'add-circle-outline'"
          [md]="'add-circle-sharp'"
        ></ion-icon>
      </button>

      <button [routerLink]="['/profile']">
        <div style="display: flex; flex-direction: column;align-items: center;">
          <ion-icon style="font-size: 24px;margin-bottom: 3px;" [ios]="'person-outline'" [md]="'person-sharp'"></ion-icon>
          <ion-label>Me</ion-label>
        </div>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
