ion-footer {
  --ion-background-color: var(--ion-color-primary);
}

ion-title.page-name {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search {
  margin-bottom: 20px;
  padding: 0 20px;

  ion-item {
    border-radius: 10px;
    padding: 8px;

    ion-icon {
      margin-right: 16px;
    }

    ion-input {
      padding-left: 10px !important;
      border-left: 1px solid #f4f4f4;
    }
  }
}

#create-listing-button {
  height: 70px;
  width: 70px;
  background-color: var(--ion-color-primary);
  border-radius: 100%;
}

button {
  background-color: var(--ion-color-primary);
}


.listing-slider {
  margin-bottom: 30px;

  ion-slide {
    width: 150px;
    height: auto;
    margin-left: 20px;
    margin-right: 10px;
  }
}

// Removing highlight when focused/clicked on product
ion-slide:focus {
  outline: none !important;
}

ion-col:focus {
  outline: none !important;
}
