/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Feb, 2022, 11:29:34 PM
    Author     : brend
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oswald&display=swap');

* {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

#header {
    background-color: #0090E9; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: white;
    text-align: center;
}

#content {
    width: 100vw;
    height: 87vh;
}

#copyright {
    display: inline-block;
    padding: 15px;
}

.github-link {
    text-decoration: none;
}
#tompang-logo {
    width: 170px;
    padding: 15px 30px 5px;
}

.header-button {
    text-decoration: none;
    color: black;
    font-size: 18px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 25px;
}

.header-buttons {
    display: flex;
}

#loginForm {
    margin: 10% auto 0;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.loginField {
    font-size: 20px;
    width: 75%;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
}

.inputField {
    border-radius: 5px;
    height: 25px;
    width: 150px;
    font-size: 18px;
}

.blue-button {
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: #0090E9;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;


}

.blue-button:hover {
    cursor: pointer;
}

.errorText {
    position: absolute;
    top: 35px;
    left: 142px;
    font-size: 14px;
    width: 475px;
}