/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Feb, 2022, 11:29:34 PM
    Author     : brend
*/


#header {
    background-color: #0090E9;
}
#tompang-logo {
    width: 200px;
}