ion-title.page-name {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.listing-slider {
  margin-bottom: 30px;

  ion-slide {
    width: 150px;
    height: auto;
    margin-left: 20px;
    margin-right: 10px;
  }
}

.details-info {
  margin-left: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

ion-button {
  --box-shadow: none;
  --padding-end: 7px;
  --padding-start: 7px;
  text-transform: lowercase;
}

.input-button-div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}
